.latent-top-token-frequencies-container {
	display: flex;
	flex-direction: column;
	padding: 32px;
	box-sizing: border-box;
}

.latent-top-token-frequencies-lists {
	display: flex;
	gap: 16px;
	margin-top: 8px;
}

.latent-top-token-frequencies-list-container {
	width: 100%;
}

.latent-top-token-frequencies-list {
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
	margin-top: 16px;
}

.latent-top-token-frequencies-list-loading-circle-container {
	position: relative;
	width: 100%;
	height: 75px;
}

.latent-top-token-frequencies-item {
	position: relative;
	display: flex;
	align-items: center;
	gap: 16px;
	width: 200px;
}

.latent-top-token-frequencies-item::before {
	position: absolute;
	top: -8px;
	left: 0;
	display: block;
	content: "";
	width: 100%;
	height: 1px;
	background: var(--colour-white);
	opacity: 0.3;
}

.latent-top-token-frequencies-item-token {
	display: flex;
	align-items: center;
	gap: 4px;
}

.latent-top-token-frequencies-item-token i {
	margin-top: -4px;
	font-size: 7px;
}

.latent-top-token-frequencies-item-token span {
	white-space: pre;
}

.latent-top-token-frequencies-item-frequency {
	margin-left: auto;
}

.latent-top-token-frequencies-item-frequency-f {
	margin-right: 4px;
	opacity: 0.5;
	font-style: italic;
}
