**/__pycache__/
wsl_open_dir.bat
venv

TuringLLM/model_1722550239_03986.pt
SAE/sae

latent_data/latents_sae_frequencies.pth
latent_data/latents_sae_tokens_from_sequence.h5
latent_data/latents_sae_values_from_sequence.h5
latent_data/latents_sae_frequencies
latent_data/decoded_sequences
latent_data/decoded_sequences_old

latent_data/top_other_latents/0/
latent_data/top_other_latents/1/
latent_data/top_other_latents/2/
latent_data/top_other_latents/3/
latent_data/top_other_latents/4/
latent_data/top_other_latents/5/
latent_data/top_other_latents/6/
latent_data/top_other_latents/7/
latent_data/top_other_latents/8/
latent_data/top_other_latents/9/
latent_data/top_other_latents/10/
latent_data/top_other_latents/11/
latent_data/top_other_latents/12/
latent_data/top_other_latents/13/
latent_data/top_other_latents/14/
latent_data/top_other_latents/15/
latent_data/top_other_latents/16/
latent_data/top_other_latents/17/
latent_data/top_other_latents/18/
latent_data/top_other_latents/19/
latent_data/top_other_latents/20/
latent_data/top_other_latents/21/
latent_data/top_other_latents/22/

latent_data/unembedding_frequencies/0/
latent_data/unembedding_frequencies/1/
latent_data/unembedding_frequencies/2/
latent_data/unembedding_frequencies/3/
latent_data/unembedding_frequencies/4/
latent_data/unembedding_frequencies/5/
latent_data/unembedding_frequencies/6/
latent_data/unembedding_frequencies/7/
latent_data/unembedding_frequencies/8/
latent_data/unembedding_frequencies/9/
latent_data/unembedding_frequencies/10/
latent_data/unembedding_frequencies/11/
latent_data/unembedding_frequencies/12/
latent_data/unembedding_frequencies/13/
latent_data/unembedding_frequencies/14/
latent_data/unembedding_frequencies/15/
latent_data/unembedding_frequencies/16/
latent_data/unembedding_frequencies/17/
latent_data/unembedding_frequencies/18/
latent_data/unembedding_frequencies/19/
latent_data/unembedding_frequencies/20/
latent_data/unembedding_frequencies/21/
latent_data/unembedding_frequencies/22/
