.latent-display {
	position: relative;
	width: 100%;
	height: 600px;
}

.latent-display-latent-container {
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.latent-display-latent-weights-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	max-width: 800px;
	height: 100%;
	overflow: hidden;
}

.latent-display-latent-weights {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.latent-display-latent-weights-left {
	position: relative;
	transform: translateY(-1.5px) translateX(75px);
}

.latent-display-latent-weights-right {
	position: relative;
	transform: rotate(180deg) translateY(-1.5px) translateX(75px);
}

.latent-display-latent-weight-line {
	position: absolute;
	display: block;
	content: "";
	width: 1000px;
	height: 3px;
	background: var(--colour-white);
	transform-origin: center left;
	opacity: 0.75;
}

.latent-display-latent-weights:nth-child(1) {
	z-index: 1;
}

.latent-display-latent-weights:nth-child(1) .latent-display-latent-weight-line:nth-child(1),
.latent-display-latent-weights:nth-child(1) .latent-display-latent-weight-line:nth-child(9) {
	opacity: 0;
}

.latent-display-latent-weight-line:nth-child(2) {
	transform: rotate(30deg);
}

.latent-display-latent-weight-line:nth-child(3) {
	transform: rotate(20deg);
}

.latent-display-latent-weight-line:nth-child(4) {
	transform: rotate(10deg);
}

.latent-display-latent-weight-line:nth-child(5) {
	transform: rotate(0deg);
}

.latent-display-latent-weight-line:nth-child(6) {
	transform: rotate(-10deg);
}

.latent-display-latent-weight-line:nth-child(7) {
	transform: rotate(-20deg);
}

.latent-display-latent-weight-line:nth-child(8) {
	transform: rotate(-30deg);
}

.latent-display-latent-weights:nth-child(2) {
	opacity: 0.75;
}

.latent-display-latent-weights:nth-child(2) .latent-display-latent-weight-line {
	background: var(--colour-blue);
}

.latent-display-latent-weights:nth-child(2) .latent-display-latent-weight-line:nth-child(1) {
	transform: rotate(35deg);
}

.latent-display-latent-weights:nth-child(2) .latent-display-latent-weight-line:nth-child(2) {
	transform: rotate(25deg);
}

.latent-display-latent-weights:nth-child(2) .latent-display-latent-weight-line:nth-child(3) {
	transform: rotate(15deg);
}

.latent-display-latent-weights:nth-child(2) .latent-display-latent-weight-line:nth-child(4) {
	transform: rotate(5deg);
}

.latent-display-latent-weights:nth-child(2) .latent-display-latent-weight-line:nth-child(5) {
	transform: rotate(0deg);
}

.latent-display-latent-weights:nth-child(2) .latent-display-latent-weight-line:nth-child(6) {
	transform: rotate(-5deg);
}

.latent-display-latent-weights:nth-child(2) .latent-display-latent-weight-line:nth-child(7) {
	transform: rotate(-15deg);
}

.latent-display-latent-weights:nth-child(2) .latent-display-latent-weight-line:nth-child(8) {
	transform: rotate(-25deg);
}

.latent-display-latent-weights:nth-child(2) .latent-display-latent-weight-line:nth-child(9) {
	transform: rotate(-35deg);
}

.latent-display-latent-info-container {
	position: relative;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: calc(140px + 2 * 64px);
	width: 100%;
	height: 100%;
}

.latent-display-latent-info-above-latent {
	margin-top: 24px;
	display: flex;
	align-items: center;
	gap: 128px;
}

.latent-display-latent-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2px;
}

.latent-display-latent-info-value {
	padding: 3px 11px;
	border-radius: 5px;
	background: var(--colour-blue);
	width: fit-content;
	font-weight: 700;
}

.latent-display-latent-info-label {
	min-height: 24px;
}
