.search-bar-container {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 32px auto;
	width: calc(100% - 12px);
	height: 65dvh;
	max-width: 1000px;
	height: 45px;
	transition: 0.2s;
	transition-delay: 0.2s;
}

.search-bar-container-not-searched {
	height: 70dvh;
	max-width: 700px;
}

.search-bar-title {
	font-size: 28px;
	font-weight: 600;
	color: var(--colour-grey-90);
	background: linear-gradient(90deg, var(--colour-grey-75) 86%, var(--colour-white) 92%, var(--colour-grey-75) 94%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 400%;
	animation: title-colour-gradient-flow 12s linear infinite;
	height: 0;
	overflow: hidden;
	transition: 0.2s;
}

.search-bar-container-not-searched:not(.search-bar-container-searching) .search-bar-title {
	margin-bottom: 24px;
	height: 42px;
	opacity: 1;
}

.search-bar {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.search-bar input {
	padding: 10px 24px;
	border: 2px solid var(--colour-grey-25);
	border-radius: 32px;
	width: 100%;
	background: var(--colour-grey-0);
	color: var(--colour-grey-75);
	transition: 0.2s;
}

.search-bar input:focus {
	outline: 0;
	border-color: var(--colour-grey-75);
	color: var(--colour-white);
}

.search-bar-container-searching .search-bar input {
	border-color: var(--colour-grey-25);
	color: var(--colour-grey-75);
	pointer-events: none;
}

.search-bar-placeholder {
	position: absolute;
	z-index: 0;
	top: 50%;
	left: 28px;
	transform: translateY(-50%);
	display: flex;
	gap: 12px;
	align-items: center;
	color: var(--colour-grey-50);
	opacity: 0;
	pointer-events: none;
	user-select: none;
	transition: 0.2s;
}

.search-bar-placeholder span {
	margin-top: -1px;
}

.search-bar-container-no-search .search-bar-placeholder {
	opacity: 1;
}

.search-bar-container-focused.search-bar-container-no-search .search-bar-placeholder {
	opacity: 0.5;
	scale: 0.95;
}

.search-bar-searching-container {
	position: relative;
	width: calc(100% - 24px);
}

.search-bar-searching {
	position: absolute;
	display: flex;
	align-items: center;
	height: 40px;
	overflow: hidden;
	transition: 0.2s;
	transition-delay: 0s;
	opacity: 0;
}

.search-bar-container-searching .search-bar-searching {
	transition-delay: 0.8s;
	opacity: 0.5;
}

.search-bar-searching-label {
	background: linear-gradient(90deg, var(--colour-grey-50) 66%, var(--colour-white) 72%, var(--colour-grey-50) 74%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 400%;
	animation: title-colour-gradient-flow 12s linear infinite;
	transition: 0.2s;
}
