.text-area-container {
	position: relative;
	width: 100%;
	--font-size: 14px;
}

.text-area,
.text-area-height-box {
	margin: 0;
	padding: 10px 12px;
	border: 2px solid var(--colour-grey-10);
	width: 100%;
	box-sizing: border-box;
	font-size: var(--font-size);
}

.text-area {
	border-radius: 8px;
	min-height: 44px;
	overflow: hidden;
	resize: none;
	background: var(--colour-grey-10);
	color: var(--colour-grey-75);
	transition: border-color 0.2s, background 0.2s;
}

.text-area:hover {
	background: var(--colour-grey-10);
}

.text-area:focus {
	outline: none;
	border-color: var(--colour-grey-75);
	color: var(--colour-white);
}

.text-area::placeholder {
	font-size: 14px;
	transform-origin: center left;
	transition: 0.2s;
}

.text-area:focus::placeholder {
	padding-left: 8px;
	opacity: 0.5;
	scale: 0.95;
}

.text-area-height-box {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	display: block;
	white-space: pre-wrap;
	overflow-wrap: break-word;
	pointer-events: none;
	user-select: none;
	opacity: 0;
}
