.navigation-bar {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	padding: 0 24px;
	border: 1px solid var(--colour-grey-25);
	border-width: 0 0 1px 0;

	width: 100%;
	height: 64px;
	box-sizing: border-box;

	background: var(--colour-black);
	color: var(--colour-white);
	transition: 0.4s padding;
}

.navigation-bar-title {
	flex-shrink: 0;
	width: calc(242px);
	font-size: 14px;
	letter-spacing: 4px;
	word-spacing: 4px;
	text-transform: uppercase;
	white-space: nowrap;
	overflow: hidden;
	transition: 0.2s;
	cursor: pointer;
	background: linear-gradient(90deg, var(--colour-grey-75) 86%, var(--colour-white) 92%, var(--colour-grey-75) 94%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 400%;
}

.navigation-bar-title-animation {
	animation: title-colour-gradient-flow 12s linear infinite;
}

.navigation-bar-search-bar-container {
	margin-left: 32px;
	padding: 0;
	width: 100%;
	max-width: 600px;
}

.navigation-bar-search-bar-container input,
.navigation-bar-latent-navigation-item input {
	padding: 5px 15px;
	border: 2px solid var(--colour-grey-0);
	border-radius: 32px;
	width: 100%;
	box-sizing: border-box;
	background: var(--colour-grey-0);
	color: var(--colour-grey-60);
	transition: 0.2s;
}

.navigation-bar-search-bar-container input:hover,
.navigation-bar-latent-navigation-item input:hover {
	background: var(--colour-grey-10);
	color: var(--colour-grey-75);
}

.navigation-bar-search-bar-container input:focus,
.navigation-bar-latent-navigation-item input:focus {
	outline: 0;
	border-color: var(--colour-grey-75);
	color: var(--colour-white);
}

.navigation-bar-inference-btn {
	flex-shrink: 0;
	display: flex;
	gap: 8px;
	justify-content: center;
	align-items: center;
	margin: 0 32px;
	padding: 0 20px;
	border-radius: 32px;

	height: 35px;

	background: var(--colour-grey-0);
	color: var(--colour-white);
	transition: 0.2s;
}

.navigation-bar-inference-btn:hover {
	background: var(--colour-white);
	color: var(--colour-black);
}

.navigation-bar-inference-btn span {
	width: 63px;
	overflow: hidden;
	transition: 0.2s width;
}

.navigation-bar-latent-navigation-container {
	margin-left: auto;
	display: flex;
	align-items: center;
	gap: 48px;
	transition: 0.4s;
}

.navigation-bar-latent-navigation-item {
	display: flex;
	align-items: center;
	gap: 12px;
}

.navigation-bar-latent-navigation-item-icon {
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;

	width: 32px;
	height: 32px;

	font-size: 18px;
	color: var(--colour-white);
	overflow: hidden;
	transition: 0.2s;
}

.navigation-bar-latent-navigation-item-latent .navigation-bar-latent-navigation-item-icon {
	font-size: 19px;
}

.navigation-bar-latent-navigation-item-label {
	overflow: hidden;
	transition: 0.4s;
}

.navigation-bar-latent-navigation-item-layer .navigation-bar-latent-navigation-item-label {
	width: 37px;
}

.navigation-bar-latent-navigation-item-latent .navigation-bar-latent-navigation-item-label {
	width: 43px;
}

.navigation-bar-latent-navigation-item button {
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;

	width: 32px;
	height: 32px;

	color: var(--colour-white);
	transition: 0.2s;
}

.navigation-bar-latent-navigation-item button:hover {
	background: var(--colour-white);
	color: var(--colour-black);
}

.navigation-bar-latent-navigation-item input {
	width: 78px;
}

.navigation-bar-latent-navigation-go-to-latent-btn-container {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	height: 35px;
	margin-left: 32px;
}

.navigation-bar-latent-navigation-go-to-latent-btn {
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
	border-radius: 32px;

	height: 35px;

	background: var(--colour-grey-0);
	color: var(--colour-white);
	transition: 0.2s;
}

.navigation-bar-latent-navigation-go-to-latent-btn:hover {
	background: var(--colour-white);
	color: var(--colour-black);
}

@media (max-width: 1600px) {
	.navigation-bar-inference-btn span {
		margin-left: -8px;
		width: 0;
	}
}

@media (max-width: 1500px) {
	.navigation-bar-latent-navigation-container {
		gap: 24px;
	}

	.navigation-bar-latent-navigation-item {
		gap: 8px;
	}

	.navigation-bar-latent-navigation-item-icon {
		margin-left: -8px;
		width: 0;
		opacity: 0;
	}

	.navigation-bar-latent-navigation-item-label {
		margin-right: 6px;
	}
}

@media (max-width: 1400px) {
	.navigation-bar-title {
		margin-right: 0;
		width: 0;
	}

	.navigation-bar-search-bar-container {
		margin-left: 0;
	}
}

@media (max-width: 1150px) {
	.navigation-bar-latent-navigation-container {
		gap: 24px;
	}

	.navigation-bar-latent-navigation-item {
		gap: 8px;
	}

	.navigation-bar-latent-navigation-item-icon {
		margin-left: 0;
		width: 32px;
		opacity: 1;
	}

	.navigation-bar-latent-navigation-item-label {
		margin-left: -8px;
		margin-right: 0;
		width: 0 !important;
		opacity: 0;
	}

	.navigation-bar-latent-navigation-go-to-latent-btn-container {
		margin-left: 16px;
	}
}

@media (max-width: 1050px) {
	.navigation-bar {
		padding: 0 6px;
	}

	.navigation-bar-inference-btn {
		margin: 0 16px;
	}

	.navigation-bar-latent-navigation-container {
		gap: 16px;
	}
}
